<div class="main-wrapper">

  <app-header [user]="user"></app-header>


  <app-breadcrumb [title]="'Dashboard'"></app-breadcrumb>


  <div class="page-content">
    <div class="container">
      <div class="row">

        <div class="col-xl-3 col-lg-3 theiaStickySidebar">
         <app-sidebar [user]="user"></app-sidebar>

        </div>

         <div class="col-xl-9 col-lg-9">
          <div class="row">
             <div class="alert alert-danger alert-white rounded"
               *ngIf="unread_policies != 0 && (user.role == 2 || user.role == 3)">


               <strong>Oops!</strong> You have to accept all our policies before accessing the dashboard. <a
                 routerLink="/account/policy">Click here</a> to access policies
             </div>
          </div>

           <div class="row justify-content-center" *ngIf="user.role == 1 && admin">

             <div class="col-lg-4 col-md-6 d-flex">
               <div class="card dash-info flex-fill">
                 <div class="card-body">
                   <h5>Enrolled Courses</h5>
                   <h2>{{admin.enrolled_courses}}</h2>
                 </div>
               </div>
             </div>
             <div class="col-lg-4 col-md-6 d-flex">
               <div class="card dash-info flex-fill">
                 <div class="card-body">
                   <h5>Total Instructors</h5>
                   <h2>{{admin.instructors}}</h2>
                 </div>
               </div>
             </div>

             <div class="col-lg-4 col-md-6 d-flex">
               <div class="card dash-info flex-fill">
                 <div class="card-body">
                   <h5>Total Students</h5>
                   <h2>{{admin.students}}</h2>
                 </div>
               </div>
             </div>


           </div>

           <div class="row justify-content-center" *ngIf="user.role == 2 && instructor && unread_policies == 0">

             <div class="col-lg-4 col-md-6 d-flex">
               <div class="card dash-info flex-fill">
                 <div class="card-body">
                   <h5>My Courses</h5>
                   <h2>{{instructor.total_courses}}</h2>
                 </div>
               </div>
             </div>
             <div class="col-lg-4 col-md-6 d-flex">
               <div class="card dash-info flex-fill">
                 <div class="card-body">
                   <h5>My Students</h5>
                   <h2>{{instructor.students}}</h2>
                 </div>
               </div>
             </div>

           </div>

           <div class="instructor-course-table" *ngIf="user.role == 1 && admin">
             <div class="dashboard-title">
               <h4>Recently Created Courses</h4>
             </div>
             <div class="table-responsive custom-table">

               <table class="table table-nowrap mb-0">
                 <thead>
                   <tr>
                     <th>Courses</th>
                     <th>Enrolled</th>
                     <th>Status</th>
                   </tr>
                 </thead>
                 <tbody>
                   <tr *ngFor="let course of admin.courses">
                     <td>
                       <div class="table-course-detail">
                         <a href="javascript:void(0)" class="course-table-img">
                           <span><img [src]="'http://127.0.0.1:8000/' + course.image" alt="Img"></span>
                           {{course.title}}
                         </a>
                       </div>
                     </td>
                     <td>{{course.counts}}</td>
                     <td>Published</td>
                   </tr>

                 </tbody>
               </table>
             </div>
           </div>


           <div class="instructor-course-table" *ngIf="user.role == 2 && instructor && unread_policies == 0">
             <div class="dashboard-title">
               <h4>My Courses</h4>
             </div>
             <div class="table-responsive custom-table">

               <table class="table table-nowrap mb-0">
                 <thead>
                   <tr>
                     <th>Courses</th>
                     <th>Enrolled</th>
                     <th>Status</th>
                   </tr>
                 </thead>
                 <tbody>
                   <tr *ngFor="let course of instructor.courses">
                     <td>
                       <div class="table-course-detail">
                         <a routerLink="/account/instructor/courses/{{course.slug}}" class="course-table-img">
                           <span><img [src]="'http://127.0.0.1:8000/' + course.image" alt="Img"></span>
                           {{course.title}}
                         </a>
                       </div>
                     </td>
                     <td>{{course.counts}}</td>
                     <td>Published</td>
                   </tr>

                 </tbody>
               </table>
             </div>
           </div>


           <div class="instructor-course-table" *ngIf="user.role == 3 && student && unread_policies == 0">
             <div class="dashboard-title">
               <h4>My Courses</h4>
             </div>
             <div class="table-responsive custom-table">

               <table class="table table-nowrap mb-0">
                 <thead>
                   <tr>
                     <th>Courses</th>
                     <th></th>
                     <th></th>
                   </tr>
                 </thead>
                 <tbody>
                   <tr *ngFor="let course of student.courses">
                     <td>
                       <div class="table-course-detail">
                         <a routerLink="/account/my-courses/{{course.slug}}" class="course-table-img">
                           <span><img [src]="'http://127.0.0.1:8000/' + course.image" alt="Img"></span>
                           {{course.title}}
                         </a>
                       </div>
                     </td>
                     <td></td>
                     <td>{{duration(course.creation)}}</td>
                   </tr>

                 </tbody>
               </table>
             </div>
           </div>

         </div>





      </div>
    </div>
  </div>


  <app-footer></app-footer>

</div>
