<div class="main-wrapper">

  <app-header [user]="user"></app-header>


  <app-breadcrumb [title]="'Policies'"></app-breadcrumb>


  <div class="page-content">
    <div class="container">
      <div class="row">

        <div class="col-xl-3 col-lg-3 theiaStickySidebar">
          <app-sidebar [user]="user"></app-sidebar>
        </div>


        <div class="col-xl-9 col-lg-9">
          <div class="settings-widget card-details">
            <div class="settings-menu p-0">
              <div class="profile-heading">
                <div class="d-flex justify-content-between">
                  <h3>Policies</h3>
                  <a routerLink="/account/policies/create" class="add-course btn-primary" style="margin-top: 0px">Add
                    Policy</a>
                </div>

              </div>
              <app-loader *ngIf="loading; else loadData" [title]="loadingTitle"></app-loader>
              <ng-template #loadData>
                <div class="table-responsive custom-table" *ngIf="policies.length != 0; else displayMessage">
                  <table class="table table-wrap mb-0">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Compulsory</th>
                        <th>Audience</th>

                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let policy of policies; index as i;">
                        <td><a href="javascript:void(0);" class="tab-title">{{i + 1}}</a></td>
                        <td>{{policy.title}}</td>
                        <td><span *ngIf="policy.compulsory == 1">Yes</span><span *ngIf="policy.compulsory == 0">No</span></td>
                        <td>{{policy.audience}}</td>

                        <td>
                          <a class="d-flex flex-row" routerLink="/account/policies/{{policy.id}}/edit">
                            <i class="bx bx-edit"></i> Edit
                          </a>
                        </td>
                      </tr>

                    </tbody>
                  </table>
                </div>
                <ng-template #displayMessage>
                  <app-error-message [message]="'There are no policies yet'"></app-error-message>
                </ng-template>

              </ng-template>


            </div>
          </div>

        </div>

      </div>
    </div>
  </div>


  <app-footer></app-footer>

</div>
