<div class="main-wrapper">

  <app-header [user]="user"></app-header>

  <app-breadcrumb [title]="'Timetables'"></app-breadcrumb>

  <div class="page-content">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-3 theiaStickySidebar">
          <app-sidebar [user]="user"></app-sidebar>
        </div>
        <div class="col-xl-9 col-lg-9">
          <div class="profile-heading">
            <div class="d-flex justify-content-between">
              <h3 *ngIf="!loading">{{timetable.title}}</h3>

            </div>
          </div>
          <app-loader *ngIf="loading; else loadData" [title]="loadingTitle"></app-loader>
          <ng-template #loadData>

            <iframe [src]='getFile()' frameborder="0" scrolling="auto"
              height="100%" width="100%">
            <p>Your browser does not support iframes.</p>
            </iframe>



          </ng-template>

        </div>
      </div>
    </div>
  </div>
</div>
