<div class="main-wrapper log-wrap">
  <div class="row">

    <div class="col-md-6 login-bg">
      <div class="welcome-login">
        <div class="login-banner">
          <img src="assets/img/login-img.png" class="img-fluid" alt="Logo">
        </div>
        <div class="mentor-course text-center">
          <h2>Welcome to <br>Kevron Virtual Learning.</h2>
          <p>Provide you login details to access your courses in one place.  </p>
        </div>
      </div>
    </div>

    <div class="col-md-6 login-wrap-bg">

      <div class="login-wrapper">
        <div class="loginbox">
          <div class="w-100">
            <div class="img-logo">
              <img src="assets/img/kevron-group-logo.png" class="img-fluid" alt="Logo">
              <div class="back-home">
                <a href="https://kevrongroup.com/" target="_blank">Back to Home</a>
              </div>
            </div>

            <h1>Sign into Your Account</h1>
            @if(error){
              <app-error-message [message]="error"></app-error-message>
            }

            <app-loader *ngIf="loading; else loadForm" [title]="'Signing In'"></app-loader>
            <ng-template #loadForm>
              <form (submit)="login()">
                <div class="input-block">
                  <label class="form-control-label">Email</label>
                  <input type="email" class="form-control" placeholder="Enter your email address" name="email"
                    [(ngModel)]="email">
                </div>
                <div class="input-block">
                  <label class="form-control-label">Password</label>
                  <div class="pass-group">
                    <input type="password" class="form-control pass-input" placeholder="Enter your password"
                      name="password" [(ngModel)]="password">
                    <span class="feather-eye toggle-password"></span>
                  </div>
                </div>
                <div class="forgot">
                  <span><a class="forgot-link" routerLink="/forgot-password">Forgot Password ?</a></span>
                </div>
                <div class="remember-me">
                  <label class="custom_check mr-2 mb-0 d-inline-flex remember-me"> Remember me
                    <input type="checkbox" name="radio">
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div class="d-grid">
                  <button class="btn btn-primary btn-start" type="submit">Sign In</button>
                </div>
              </form>
            </ng-template>


          </div>
        </div>

      </div>

    </div>
  </div>
</div>
